{{>layouts/header}}
{{#article}}
<form action="/articles/update" method="post" style="margin:40px 80px 40px 80px">

    <input name="id" type="hidden" value="{{id}}">
    <div class="mb-3">
        <label for="titleLabel" class="form-label">제목</label>
        <input id="titleLabel" type="text" class="form-control" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label for="contentLabel" class="form-label">내용</label>
        <textarea id="contentLabel" class="form-control" name="content" rows="3">{{content}}</textarea>
    </div>

    <a class="btn btn-primary" href="/articles/{{id}}" role="button">이전</a>

    <button class="btn btn-primary" type="submit">수정</button>
</form>
{{/article}}
{{>layouts/footer}}