{{>layouts/header}}

<div style="margin:40px 80px 40px 80px">
    <a class="btn btn-primary" style="float: right;" href="articles/new" role="button">New</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        {{#articleList}}
            <tr>
                <th>{{id}}</th>
                <td><a href="articles/{{id}}">{{title}}</a></td>
                <td>{{content}}</td>
            </tr>
        {{/articleList}}
        </tbody>
    </table>
</div>
{{>layouts/footer}}