{{>layouts/header}}
<div style="margin:20px 60px 20px 60px; padding:20px;">
    {{#article}}
    <h2 style="margin:10px">{{title}}</h2>
    <hr>
    <div style="margin:10px 10px 30px 10px">{{content}}</div>

    <div style="text-align: right; margin:10px">
    <a class="btn btn-primary" href="/articles/{{id}}/edit">수정</a>
    <a class="btn btn-danger" href="/articles/{{id}}/delete">삭제</a>
    </div>

    {{/article}}
    <hr>
    {{>comments/_comments}}
</div>
{{>layouts/footer}}
